<!doctype html>
<html class="no-js" lang="en">

<head>
    {% load static %}
    {% include 'uhead.html' %}
</head>


<body class="sticky-header newsletter-popup-modal">

   
    <a href="#top" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
    <header class="header axil-header header-style-1">
        {% include 'uheader.html' %}
    </header>

    <main class="main-wrapper">
        {% if request.path == '/' %}
        {% include 'uslider.html' %}
        {% else %}
        {% include 'ubanner.html' %}
        {% endif %}

<!-- Start -->


<div class="axil-contact-page-area axil-section-gap">
            <div class="container">
                <div class="axil-contact-page">
                    <div class="row row--30">
                        <div class="col-lg-8">
                            <div class="contact-form">
                                <h3 class="title mb--10">Please login with your Username and Password.</h3>
                                <p>&nbsp;</p>
                                <form  method="post" enctype="multipart/form-data" class="django-contact-form">
                                    {% csrf_token %}
                                    <div class="row row--10">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="contact-name">Contact Number <span>*</span></label>
                                                <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0,10);"  pattern="[0-9]{10}" title="Ex.9876543210" required name="username" >
                                            </div>
                                        </div>
                                        

                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="contact-name">Password <span>*</span></label>
                                                <input type="password" name="password" id="myInput" required>
                                            </div>                                          
                                        </div>
                                         <div class="col-lg-12" style="padding-bottom: 10px;">
                                        
                                                <div class="input-group">
                                                        <input type="checkbox" id="radio1" name="shipping"  onclick="myFunction()">
                                                        <label for="radio1">Show Password</label>
                                                    </div>
                                            </div>


                                        <div class="col-12">
                                            <div class="form-group mb--0">
                                                <button type="submit" class="axil-btn btn-bg-primary">Submit</button>
                                            </div>
                                        </div>

                                          {% if msg != "" %}
                                <br/><br/><br>
                                  <div class="alert alert-danger">
                                  <strong>{{msg}}</strong>
                                 </div>
 
                                {% endif %}
                                    </div>
                                </form>
                                <br/>
                                <span>You don't have an Account..? <a href="usignup?verify=number">Click here</a> | <a href="uforgotpassword">Forgot Password</a></span>

                                
                            </div>
                        </div>
                        <div class="col-lg-4">
                           <img src="{% static 'assets/images/signup.jpg' %}" style="border-radius: 10%;" />
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        
<script>
        function myFunction() {
          var x = document.getElementById("myInput");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
    </script>

    <script>
	const params = new URLSearchParams(window.location.search);
	if (params.get("alert") === "1") {
		alert("Password Sent In Your SMS");
		window.history.replaceState({}, document.title, window.location.pathname);
	}
</script>


<br>

<!-- End -->
       
    </main>


    <!-- Start Footer Area  -->
   <footer class="axil-footer-area footer-style-2" style="background-color: #fce4dc;margin-top: -27px;">
         {% include 'ufooter.html' %}
    </footer>
     {% include 'uscript.html' %}
</body>
</html>