{% load static %}

<div class="axil-main-slider-area main-slider-style-1">
            <div class="container" style="margin-top: -100px;">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-sm-6">
                        <div class="main-slider-content">
                            <div class="slider-content-activation-one">
                                <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="400" data-sal-duration="800">
                                   
                                    <h1 class="title">Exculsive Deals!.</h1>
                                    <div class="slide-action">
                                        <div class="shop-btn">
                                            <a href="uproduct" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="single-slide slick-slide">
                                   
                                    <h1 class="title">100% Real Product</h1>
                                    <div class="slide-action">
                                        <div class="shop-btn">
                                            <a href="uproduct" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-slide slick-slide">
                                    
                                    <h1 class="title">Trusted Store for Real Mobile Products</h1>
                                    <div class="slide-action">
                                        <div class="shop-btn">
                                            <a href="uproduct" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-slide slick-slide">
                                    
                                    <h1 class="title">Long-lasting & reliable</h1>
                                    <div class="slide-action">
                                        <div class="shop-btn">
                                            <a href="uproduct" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-6">
                        <div class="main-slider-large-thumb">
                            <div class="slider-thumb-activation-one axil-slick-dots">
                                <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="600" data-sal-duration="1500">
                                    <img src="{% static 'assets/images/banner1.png' %}" alt="Product">
                                    
                                </div>
                                <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="600" data-sal-duration="1500">
                                    <img src="{% static 'assets/images/banner2.png' %}" alt="Product">
                                 
                                </div>
                                <div class="single-slide slick-slide">
                                    <img src="{% static 'assets/images/banner3.png'  %}" alt="Product">
                                   
                                </div>
                                <div class="single-slide slick-slide">
                                    <img src="{% static 'assets/images/banner4.png' %}" alt="Product">
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1"><img src="{% static 'assets/images/others/shape-1.png' %}" alt="Shape"></li>
                <li class="shape-2"><img src="{% static 'assets/images/others/shape-2.png' %}" alt="Shape"></li>
            </ul>
        </div>