<!DOCTYPE html>
<html lang="en">
<head>

   {% load static %}
   {% include 'head.html' %}

</head>

<body>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">
        {% include 'header.html' %}
    </div>
    <!-- topbar ends -->

<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        {% include 'leftbar.html' %}
        <!-- left menu ends -->

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
                <ul class="breadcrumb">
                    <li><a href="/adminapp/">Home</a></li>
                    <li><a href="#">Cart</a></li>
                </ul>
            </div>

          
             <!-- View order -->

<div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-user"></i> View Cart Details</h2>

        
    </div>
    <div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>No.</th>
        <th>Order Id</th>
        <th>Product</th>
        <th>Image</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Created Date</th>
        <th>Updated Date</th>
    </tr>
    </thead>
    <tbody>
    {% for row in cart_data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td class="center">
            {{row.o_id}}
        </td>
        <td class="center">{{row.p_name}}</td>
        <td class="center"><a href="/media/{{row.p_img1}}" target="_blank"><img src="/media/{{row.p_img1}}" height="50px" width="50px" /></a></td>
        <td class="center">₹{{row.c_price}}</td>
        <td class="center">{{row.c_quantity}}</td>
        <td class="center">₹{{row.c_totalprice}}</td>
        
        <td class="center">
        {% if row.c_status == "Active" %}
            <span class="label label-success">{{row.c_status}}</span>
        {% else %}
            <span class="label label-danger">{{row.c_status}}</span>
        {% endif %}
    </a>
</td>

         <td class="center">{{row.c_cdate|date:'Y-m-d H:i:s'}}</td>
        <td class="center">{{row.c_udate|date:'Y-m-d H:i:s'}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>
    <!--/span-->

    </div><!--/row-->


            <hr>
        </div>
    </div>
            <footer class="row">
                {% include 'footer.html' %}
            </footer>

        </div>
    </div>
</div>

{% include 'script.html' %}

</body>
</html>